
/* Botones con borde */

.boton__simple{
    background: transparent;
    border: 2px transparent;
}

.botonUsuario {
    @include boton-pequeño();
    color: $color-secundario;
}

.botonPequeño__bordePrimario {
    font-size: $fs-s;
    font-weight: $regular;
    transition-property: background-color;
    transition-duration: 0.4s;

    @include boton-pequeño();

    @include boton-bordePrimario();

    &:hover {
        @include boton-bordePrimario-hover();
    }
}

.botonPequeño__bordeSecundario {

    font-size: $fs-s;
    font-weight: $regular;
    transition-property: background-color;
    transition-duration: 0.4s;

    @include boton-pequeño();

    @include boton-bordeSecundario();

    &:hover {
        @include boton-bordeSecundario-hover();
    }
}

.botonMediano__bordePrimario {

    font-size: $fs-s;
    font-weight: $regular;
    transition-property: background-color;
    transition-duration: 0.4s;

    @include boton-mediano();

    @include boton-bordePrimario();

    &:hover {
        @include boton-bordePrimario-hover();
    }
}

.botonMediano__bordeSecundario {

    font-size: $fs-s;
    font-weight: $regular;
    transition-property: background-color;
    transition-duration: 0.4s;

    @include boton-mediano();

    @include boton-bordeSecundario();

    &:hover {
        @include boton-bordeSecundario-hover();
    }
}


/* Botones con Relleno */


.botonPequeño__rellenoPrimario {
    font-size: $fs-s;
    font-weight: $regular;
    transition-property: background-color;
    transition-duration: 0.4s;

    @include boton-pequeño();

    @include boton-rellenoPrimario();

    &:hover {
        @include boton-rellenoPrimario-hover();
    }
}

.botonPequeño__rellenoSecundario {

    font-size: $fs-s;
    font-weight: $regular;
    transition-property: background-color;
    transition-duration: 0.4s;

    @include boton-pequeño();

    @include boton-rellenoSecundario();

    &:hover {
        @include boton-rellenoSecundario-hover();
    }
}

.botonMediano__rellenoPrimario {
    font-size: $fs-s;
    font-weight: $regular;
    transition-property: background-color;
    transition-duration: 0.4s;

    @include boton-mediano();

    @include boton-rellenoPrimario();

    &:hover {
        @include boton-rellenoPrimario-hover();
    }
}

.botonMediano__rellenoSecundario {
    font-size: $fs-s;
    font-weight: $regular;
    transition-property: background-color;
    transition-duration: 0.4s;

    @include boton-mediano();

    @include boton-rellenoSecundario();

    &:hover {
        @include boton-rellenoSecundario-hover();
    }
}

/* botones especiales */

.botonPequeño__rellenoSecundario a{
    text-decoration: none;
    color: $color-primario;
}

.botonPequeño__bordeSecundario a{
    padding: 8px 15px;
    text-decoration: none;
    color: $color-secundario; 
    &:hover{
        color: $color-primario;
    }
}




