
//    ---- botones ----

/* dimensiones */

@mixin boton-pequeño() {
    width: 135px;
    height: 33px;
    border-radius: 16.5px;
 }

 @mixin boton-mediano() {
  width: 200px;
  height: 33px;
  border-radius: 16.5px;
}

/* sin background */

 @mixin boton-bordePrimario() {    
    background-color: transparent;
    border: 2px solid $color-primario;
    color: $color-primario;
}

@mixin boton-bordePrimario-hover() {    
  background-color: $color-primario;
  border: 2px solid $color-primario;
  color: $color-white;
}

@mixin boton-bordeSecundario() {    
  background-color: transparent;
  border: 2px solid $color-secundario;
  color: $color-secundario;

}

@mixin boton-bordeSecundario-hover() {    
background-color: $color-secundario;
border: 2px solid $color-secundario;
color: $color-white;
}

/* con background */

@mixin boton-rellenoPrimario() {    
  background-color: $color-primario;
  border: 2px solid $color-primario;
  color: $color-secundario;
}

@mixin boton-rellenoPrimario-hover() {    
  background-color: $color-primario-hover;
  border: 2px solid $color-primario-hover;
  color: $color-secundario;
}

@mixin boton-rellenoSecundario() {    
  background-color: $color-secundario;
  border: 2px solid $color-secundario;
  color: $color-primario;
}

@mixin boton-rellenoSecundario-hover() {    
  background-color: $color-secundario-hover;
  border: 2px solid $color-secundario-hover;
  color: $color-primario;
}