

//colores
$color-primario: #e75555;
$color-secundario: #7afffa;
$color-primario-hover: #b04141;
$color-secundario-hover: #55b3af;


$color-white: #fff;
$color-grey: #bbb;


//font-family
$font-f01: 'rubik';

//font-weight
$medium: 500;
$regular: 400;
$light: 300;

//font-style
$fs-italic: 'italic';

//font-size
$fs-xl: 72px;
$fs-l: 38px;
$fs-m: 24px;
$fs-s: 17px;
$fs-xs: 13px;













