
.footer {
     background-color: $color-primario;
     height: 120px;
     margin: -40px 0px 0px 0px;
}


.copyFooter {
    color: $color-grey;
    font-size: $fs-s;
    font-weight: $regular;
    padding-top: 3rem;
    text-align: center;
}

.contenedor__copyfooter {
    text-align: center;
}
