
/* .header {
    background-image: url("https://i.ibb.co/cbTBZQC/Header-img.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 840px;
}
 */

.header {
    background-image: url("../img/header-internet.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    height: 840px;
}

.tituloHeader {
    font-size: $fs-xl;
}

@media (max-width: 720px) {

    .header {
        background-image: url("../img/header-internet.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
        width: 140%;
        height: 50%;
    }

}
