
.header {
    background-image: url("../img/header-internet.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
}

.center {
    text-align: center;
}


.tituloHeader-01 {
    font-size: $fs-xl;
    font-weight: $medium;
    color: $color-white;
    text-align: center;
    margin-bottom: 0px;;
    margin-top: 8rem;
}

.tituloHeader-02 {
    font-size: $fs-xl;
    font-weight: $medium;
    color: $color-primario;
    text-align: center;
}

.textoHeader{
    font-size: $fs-m;
    color: $color-white;
    font-weight: $regular;
    text-align: center;
    max-width: 460px;
    margin: auto;
    padding: 5rem 0rem  1rem;
}

.textoHeader span {
    font-weight: $medium;
    color: $color-secundario;
}


.lineaTitulo {
    text-align: center;
    border-bottom: 4px solid $color-secundario;
    margin: auto;
    margin-bottom: 14rem;
    width: 200px;
}

@media (max-width: 990px) {
    .header {
        background-image: url("../img/header-internet.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: auto;
    }    
    .tituloHeader-01 {
        font-size: $fs-l;
        font-weight: $medium;
        color: $color-white;
        text-align: center;
        margin-bottom: 0px;;
        margin-top: 9rem;
    }    
    .tituloHeader-02 {
        font-size: $fs-l;
        font-weight: $medium;
        color: $color-primario;
        text-align: center;
    }
    .textoHeader{
        font-size: $fs-s;
        color: $color-white;
        font-weight: $regular;
        text-align: center;
        margin: auto;
        padding: 5rem 0rem 1rem;
    }    
    .lineaTitulo {
        text-align: center;
        border-bottom: 4px solid $color-secundario;
        margin: auto;
        margin-bottom: 11rem;
        width: 200px;
    }
}
