.seccion__top{
    background-image: url("../img/Top-01.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    width: 100%;
}

.seccion__titulo{
    padding-top: 6rem;
    text-align: center;
    @include titulo-secciones();
}

/* seccion registro  */

.contenedor__formulario {
    max-width: 500px;
}


/* ------ */
/* seccion perfil de usuario */
/* -----  */

.seccion__topPerfil{
    background: linear-gradient(to bottom, $color-secundario, $color-primario); 
    height: 480px;
    width: 100%;
}
.seccion__perfil {
    height: 24.5rem;
    background: $color-white;
}


.cajaFunciones {
    background-color: $color-primario;
    width: 100%;
    height: 25rem;
    margin: 2rem 0rem;
    transition-property: box-shadow, border-radius;
    transition-duration: 0.3s;
     &:hover{
        box-shadow: inset 0px 0px 25px 5px $color-secundario;
        border-radius: 1rem;
    }
}
.cajaImagen__cajaFunciones{
    text-align: center;
    padding: 2rem;
}
.cajaBotones__cajaFunciones{
    text-align: center;
    padding: 2rem;
}
.botonMediano__bordeSecundario a{
    color: $color-secundario;
    text-decoration: none;
    padding: 8px 30px;
    &:hover{
        color: $color-primario;
    }
}
.titulo__cajaFunciones {
    text-align: center;
    color: $color-white;
    font-size: $fs-l;
    font-weight: $medium;
}


.cajaDescrip{
    margin: 2.5rem auto 1rem;
}
.titulo__cajaDescrip {
    font-weight: $medium;
    font-size: $fs-lm;
    color: $color-primario;
    text-align: left;
}
.texto__cajaDescrip {
    font-weight: $light;
    font-size: $fs-s;
    color: $color-primario;
    font-family: $font-f02;
}
.texto__cajaDescrip strong{
    font-weight: $medium;
}


/* -----
seccion historial de usuario
----- */

.Historial {
    margin: 1rem 0rem;
}

.cajaHistorial {
    background-color: $color-primario;
    width: 100%;
    height: 15rem;
    margin: 1rem 0rem;
    transition-property: box-shadow, border-radius;
    transition-duration: 0.4s;
     &:hover{
        box-shadow: inset 0px 0px 25px 5px $color-secundario;
        border-radius: 1.5rem;
    }
}

.caja__tituloHistorial {
    text-align: center;
    padding: 1rem 0rem;
}

.titulo__cajaHistorial {
    color: $color-white;
    font-weight: $medium;
    font-size: $fs-lm;
}


/* Estilos componente cajaTorneo */

.info__cajaTorneo{
    color: $color-secundario;
    font-size: $fs-s;
    font-family: $font-f02;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.parametroInfo__cajaTorneo {
    font-weight: $light;
    text-align: right;
    padding-right: 8px;
}
.valorInfo__cajaTorneo {
    font-weight: $medium;
    text-align: left;
    padding-left: 8px;;
}
.cajaBotones__cajaTorneo {
    text-align: center;
    margin: 1rem auto;
}

/* Estilos Boton Premium */

.cajaPremium{
    text-align: center;
    margin: auto;
    margin: 1rem;
}
.texto__premium{
    margin:0px auto;
    text-align: center;
    padding-bottom: 0px;
    color: $color-primario;
    font-family: $font-f02;
    font-weight: $regular;
    font-size: $fs-xs;
}
.boton__premium{
    font-weight: $medium;
    text-align: center;
    margin: 0px auto 10px;
}


/* ------ */
/* seccion favoritos */
/* -----  */


.cajaFavoritos {
    background-color: $color-primario;
    width: 100%;
    height: 25rem;
    margin: 2rem 0rem 1rem;
    transition-property: box-shadow, border-radius;
    transition-duration: 0.4s;
     &:hover{
        box-shadow: inset 0px 0px 25px 5px $color-secundario;
        border-radius: 1.5rem;
    }
}
.cajaImagen__cajaFavoritos{
    text-align: center;
    padding: 2rem;
}
.cajaImagen__cajaFavoritos img{
    width: 6rem;
    height: 6rem;
}



/* ----
inicio media queries
-----  */

@media (max-width: 990px) {
    .seccion__top{
        background-image: url("../img/Top-01.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 200px;
        width: 100%;
    }

    .seccion__topPerfil{
        background: linear-gradient(to bottom, $color-secundario, $color-primario);
        height: 1420px;
        width: 100%;
    } 

    .seccion__titulo{
        padding-top: 7.5rem;
        text-align: center;
        @include titulo-secciones-responsive();
    }

    .seccion__perfil {
        height: 50rem;
        background: $color-white;
    }
}
